<script
  src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

<script>
  $(document).ready(function () {

    $('#nacimiento').calendar();

    $('#solicitada').calendar();

    $('#hora').calendar({
      type: 'time'
    });

  });
</script>


<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
  <a class="item">Work</a>
  <a class="item">Company</a>
  <a class="item">Careers</a>
  <a class="item ingresar"><i class="sign in alternate icon"></i>Ingresar</a>
</div>



<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui center aligned container">
      <div class="ui inverted large secondary pointed top menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <div class="item">
          <img src="../../assets/logo.png" href="#" style="width: 75px !important;">
        </div>
        <div class="item logo" href="#">Instituto Tecnologico Mexico</div>

        <div class="right item"></div>

        <a class="item" href="#Filosofia">Filosofía</a>
        <a class="item" href="#Nosotros">Nosotros</a>
        <a class="ui simple dropdown item" href="#Areas">Areas<i class="dropdown icon"></i>
          <div class="menu">
            <div class="item"><a href="#Electronica"><p class="hyper">Electronica</p></a> </div>
            <div class="item"><a href="#Refrigeracion"><p class="hyper">Refrigeración</p></a></div>
            <div class="item"><a href="#Mecatronica"><p class="hyper">Mecatrónica</p></a></div>
            <div class="item"><a href="#Electricidad"><p class="hyper">Electricidad</p></a></div>
            <div class="item"><a href="#Enfermeria"><p class="hyper">Enfermería</p></a></div>
            <div class="item"><a href="#Informatica"><p class="hyper">Informática</p></a></div>
            <div class="item"><a href="#Mercadeo"><p class="hyper">Mercadeo</p></a></div>
            <div class="item"><a href="#ContabilidadYFinanzas"><p class="hyper">Contabilidad y finanzas</p></a></div>

          </div>
        </a>
        <a class="item" href="#Ubicacion">Ubicacion</a>
        <a class="item" href="#Contacto">Contacto</a>


      </div>
    </div>

    <div class="ui text s-header-content container">
      <h1 class="ui inverted header s-header">
        Instituto Tecnologico Mexico
      </h1>
      <div class="ui hidden divider"></div>
      <h2>Instituto Tecnologico enfocado en una mejor educacion para tus hijos.</h2>
      <div class="ui hidden divider"></div>
      <div class="ui hidden divider"></div>
      <div class="ui inverted animated fade big button cita" tabindex="0">
        <div class="visible content"> Solicitar ingreso <i class="right arrow icon"></i></div>
        <div class="hidden content">Rapido y gratis! </div>
      </div>
    </div>

  </div>

  <!-- SEGMENTO 1 -->
  <span class="ir-arriba icon-arrow-up2"></span>

  <div class="ui vertical stripe s-section segment" id="Filosofia">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">
            Filosofía del centro
          </h3>
          <p>      
            ‘‘La acción educativa de nuestra institución es integral, tomando en cuentas a las facultades
             bio-físico social y religiosa que constituye la naturaleza humana del estudiante. El centro educativo
              hace suya la responsabilidad de promover el desarrollo y la formación integral de los estudiantes a
               partir del reconocimiento de su dignidad intrínseca como ser humano y los valores de libertad justicia
                y democracia. <br><br>

            Nuestras aspiraciones son formar sujetos libres, activos, críticos, autocríticos y conscientes basados en
             los conocimientos, valores actitudes y destrezas necesarias para mejorar la calidad de vida, para 
             participar creativa, eficiente y solidariamente en la comunidad y la sociedad en general, en armonía con
              el ambiente, la democracia, cultura, la identidad y la soberanía nacional. <br><br>

            La educación que ofrecemos favorece las relaciones interpersonales para crear individuos solidarios,
             capaces de relacionarse adecuadamente con el medio que les rodea, un educando con capacidad crítica frente
              a las interpretaciones de la historia y de los acontecimientos actuales. Motivamos a nuestros alumnos/as
               para que desarrollen su capacidad creadora en los avances de la tecnología moderna. También promovemos 
               la solidaridad, la amistad, la cooperación y el culto a la verdad, la libertad y justicia.’’
          </p>
        </div>
        <div class="six wide right floated column ">
          <img class="ui massive rounded image zoom"
            src="https://scontent.fsti4-1.fna.fbcdn.net/v/t1.15752-9/116796756_786990038713332_6194386690814946903_n.png?_nc_cat=100&_nc_sid=b96e70&_nc_ohc=s7rvRuS3vZoAX8MUeBp&_nc_oc=AQmuNyXqZH0l4rwU_6o6iTV0Ptue5MHI61CiTdKxGa-4bSW9zSwhi1_wQitsf-MO6zM&_nc_ht=scontent.fsti4-1.fna&oh=ce9b77ec1f645b5b76f6dc475c170009&oe=5F4FA80D">
        </div>
      </div>

    </div>


    <!-- SEGMENTO 2 -->

    <div class="ui hidden horizontal divider"> </div>
    <div class="ui hidden horizontal divider"> </div>

    <h1 class="ui center aligned header header2" id="Nosotros">Nosotros</h1>


    <div class="ui container">
      <div class="ui raised segment">
        <div class="ui three column stackable grid container">
          <div class="row">
            <div class="column">
              <div class="ui raised link card">
                <div class="image">
                  <img src="https://www.gutbit.com/wp-content/uploads/2019/05/GRM-Mision.png"  style="width: 150px; margin: auto;">
                </div>
                <div class="content">
                  <div class="center aligned header">Mision</div>
                  <div class="description">‘‘Somos un centro educativo técnico profesional que forma bachilleres competentes,
                     emprendedores e íntegros, acorde a los estándares de calidad que exige una sociedad democrática; 
                     para que se inserten en el mercado productivo de la nación y sean promotores de los valores y la ética
                      profesional, garantizando su desarrollo personal y laboral’’. </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui raised link card">
                <div class="image" style="height: 150px;">
                  <img
                    src="https://www.vitacurabrokers.cl/wp-content/uploads/2018/08/GRM-Vision-2.png" style="width: 125px; margin-left: auto; margin-right: auto; margin-top: 50px;">
                </div>
                <div class="content">
                  <div class="center aligned header">Vision</div>
                  <div class="description">‘‘Ser una institución educativa técnico-profesional que responda a las necesidades de una
                     sociedad globalizada, contribuyendo al bienestar de sus integrantes’’.</div>

                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui raised link card">
                <div class="image">
                  <img src="https://www.gruposalinas.com/images/valores/Pasi%C3%B3n%20por%20el%20Cliente.png" style="width: 150px; margin: auto;">
                </div>
                <div class="content">
                  <div class="center aligned header">Valores</div>
                  <div class="description">
                    <ul>
                      <li>Trabajo </li>
                      <li>Integridad</li>  
                      <li>Honestidad</li>
                      <li>Solidaridad</li> 
                      <li>Compromiso</li>
                      <li>Respeto</li>
                      <li>Equidad</li>
                      <li>Patriotismo</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="column">
              <div class="ui raised link card">
                <div class="image">
                  <img src="https://image.flaticon.com/icons/png/512/32/32441.png" style="width: 150px; margin: auto;">
                </div>
                <div class="content">
                  <div class="center aligned header">Caracteristicas de los alumnos</div>
                  <div class="description">
                    <strong>Físicas:</strong> 
                    Edades entre 14 y 17 años Todos bien uniformados.
                    Buena higiene (aparente).
                    Clase económica media.<br><br>

                    <strong>Psicológicas:</strong>
                    Muy sociables y amables.
                    Respetuosos.
                    Por lo general andan en grupos de 3 y 4 personas.
                    Algunos curiosos.
                  </div>
                </div>
              </div>
            </div>
            <div class="column" style="margin-top: -100px;">
              <div class="ui raised link card">
                <div class="image">
                  <img src="https://static.thenounproject.com/png/2376659-200.png" style="margin: auto; width: 150px;">
                </div>
                <div class="content">
                  <div class="center aligned header">Características del Centro</div>
                  <div class="description">
                   <strong>Físicas:</strong><br>
                    52 Aulas.<br>
                    6 Pabellones.<br>
                    2 Cafeterías.<br>
                    Laboratorios.<br>
                    1 Cancha.<br>
                    Enfermería.<br>
                    Puntos de encuentros.<br>

                    <strong>Entorno:</strong><br>
                    Se encuentra en
                    Zona muy transitada
                    Área comercial.
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui raised link card">
                <div class="image">
                  <img src="https://images.vexels.com/media/users/3/157545/isolated/preview/057098b4a63e172134e0f04bbbcd6e8b-icono-de-libro-de-la-escuela-by-vexels.png" style="margin: auto; width: 150px;">
                </div>
                <div class="content">
                  <div class="center aligned header">Categoría del centro educativo</div>
                  <div class="description">
                    El Instituto Tecnológico México tiene una población estudiantil de 1,630 estudiantes, por lo que como
                     centro educativo se encaja en la categoría 1 ya que cuenta con más de 500 estudiantes. 
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- SEGMENTO 3 -->

    <div class="ui hidden horizontal divider"> </div>
    <div class="ui hidden horizontal divider"> </div>
    <div class="ui hidden horizontal divider"> </div>
    <div class="ui hidden horizontal divider"> </div>
    <div class="ui hidden horizontal divider"> </div>

    <!-- SEGMENTO 5 -->

    <div class="ui middle aligned stackable grid container" id="Implantes" style="margin-top: -250px;">
      <div class="row">
        <div class="seven wide column">
          <div class="row" style="margin-top: 125px;">
            <img class="ui large rounded image"
            src="https://cdn.iconscout.com/icon/free/png-256/industry-1430036-1207834.png">
          </div>
          <div class="row" style="margin-top: 10px; margin: auto;">
            <img class="ui large rounded image"
            src="https://www.joomdev.com/images/jdbuilder/sections_img/sec-icons/sec_icon_14.png">
          </div>
          <div class="row"> 
            <img class="ui large rounded image"
            src="https://image.flaticon.com/icons/png/512/777/777081.png" style="height: 250px; width: 250px; margin-left: 100px; margin-top: 50px;">
          </div>
        </div>
        
        <div class="seven wide right floated column ">

          <h3 class="ui center aligned header">
            Estructura organizativa y académica del ITM
            según las modalidades técnicas que ofrece 
          </h3>
          <h4 class="ui center aligned header">La estructura académica del instituto consta de 3 áreas generales que se subdividen en 8 áreas técnicas-profesionales:
          </h4>

          <p>
            
            <br><strong>Área industrial</strong><br>

            <u id="Electronica">Electrónica</u>: en esta área el estudiante adquiere los conocimientos técnicos necesarios para reparar aparatos electrónicos que se encuentran en el hogar, en centro comerciales, hospitales, etc., y reparar diferentes tipos de equipos. 
            <br><u id="Refrigeracion">Refrigeración</u>: los egresados de esta área cuentan con una sólida formación integral para realizar actividades
             dirigidas a los sistemas de refrigeración, como instalación, mantenimiento y reparación de aires 
             acondicionados. <br>

            <u id="Mecatronica">Mecatrónica</u>: los técnicos esta área otorga competencias a los estudiantes en el montaje y mantenimiento de 
            sistemas mecánicos, operación de equipos industriales, por tanto, los jóvenes serán capaces de trabajar en
             zonas francas dando mantenimiento a maquinarias. <br>

            <u id="Electricidad">Electricidad</u>: esta especialidad otorga competencias a los estudiantes para realizar proyectos eléctricos y 
            realizar instalaciones eléctricas tanto en una casa como en una empresa. Los jóvenes egresados de esta área
             podrán desempeñarse en empresas de producción y distribución de energía eléctrica, plantas químicas, 
             textiles, entre otras. <br>

            <strong>Área de la salud</strong><br>

            <u id="Enfermeria">Enfermería</u>: los estudiantes egresados de esta área pueden brindar apoyo en el área de la medicina, los
             mismos visitan las áreas destinadas a emergencias de los hospitales, atienden casos y conocen los aparatos
              a utilizar.<br>

            <strong>Área de servicios</strong><br>

            <u id="Informatica">Informática</u>: tiene como objetivo brindar una correcta formación teórico-práctica en el área de tecnologías,
             busca que los estudiantes manejen bien los softwares, circuitos, etc. <br>

            <u id="Mercadeo">Mercadeo</u>: proporciona conocimientos, habilidades y destrezas necesarias para el campo laboral, donde la 
            publicidad y la investigación se vuelven tus mejores amigas. <br>

            <u id="ContabilidadYFinanzas">Contabilidad y finanzas</u>: esta área proporciona conocimientos y habilidades para que el estudiante desempeñe
             de forma independiente o con relación laboral, como asistente en tareas vinculadas con los sistemas de 
             información administrativo-contables.<br>

          </p>
        </div>
      </div>
    </div>




    <!-- SEGMENTO 4 -->



    <div class="ui hidden horizontal divider"> </div>
    <div class="ui hidden horizontal divider"> </div>

    <div class="ui basic center aligned segment">
      <h1 class="ui header header3">Inscripciones abiertas, YA!</h1>

      <div class="ui hidden horizontal divider"> </div>

      <!--<div class="ui medium images">-->
      
        <!--
        <img src="https://image.flaticon.com/icons/png/512/159/159312.png">
        <img src="https://modusol.com/wp-content/uploads/2019/08/Refrigeracion.png">
        <img src="https://image.flaticon.com/icons/png/512/2393/2393055.png">
        <img src="https://lh3.googleusercontent.com/proxy/T4uA-kmGfgQyDeqzJkWegrYTbqaXn-Ss7OH7Sl2vkZcO8wyZwa-9VrfyPHOb5zUGWksTKzRYRljJhQLil2J-uxUxGROfTHJhOQC5X302rPxm-oqA9ESmwgSpjB_OWP42Y4-kRnXoZ-NmjfOTHxbQ">
        
        <img src="https://svgsilh.com/svg/1639328.svg">
        <img src="https://image.flaticon.com/icons/png/512/90/90808.png">
        <img src="https://image.flaticon.com/icons/png/512/350/350116.png">
        <img src="https://img.icons8.com/all/500/accounting.png"> -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6325.834964438778!2d-70.70964154668044!3d19.482970404559595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eb1c593174accb9%3A0x2c36cdb35b75602b!2sInstituto%20Tecnol%C3%B3gico%20M%C3%A9xico!5e0!3m2!1ses!2sdo!4v1597617975217!5m2!1ses!2sdo" width="99%" height="650" style="margin-top: -300px;" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" id="Ubicacion"></iframe>

       <!--</div>-->

    </div>



  </div>


  <!-- FOOTER -->

  <div class="ui inverted vertical footer segment" id="Contacto">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="seven wide column">
          <h4 class="ui inverted large header">
            <i class="map marker alternate icon"></i>Direcci&oacute;n</h4>
          <div class="ui hidden horizontal divider"> </div>
          <div class="ui inverted list">
            <p>Avenida Estrella Sadhala, Santiago De Los Caballeros 51000</p>
          </div>


        </div>
        <div class="seven wide column">
          <h4 class="ui inverted large header">
            <i class="phone icon"></i>Contactos</h4>
          <div class="ui hidden horizontal divider"> </div>
          <div class="ui inverted link list">
            <div class="ui tiny inverted header">+1 (809) 575-4270</div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
